* {
    box-sizing: border-box;
}

section {
    width: 100%;
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spin {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: var(--efy_color2);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;

}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}